/**
 * @name Amoled Theme
 * @description A theme that uses amoled pitch black color.
 * @updateUrl https://raw.githubusercontent.com/Suzuka0x8/StremioAmoledTheme/main/amoled.theme.css
 * @version 1.0.3
 * @author Suzuka0x8
 */

:root {
    --primary-background-color: black;
    --secondary-background-color: black;
    --modal-background-color: black;
}

.poster-image-NiV7O:hover{
    cursor:pointer;
}